div{
    background-color: rgb(255, 99, 99);
    width: 100px;
    height: 100px;
    display: inline; /* Only covers the region where text exists, just like span */
}
span{
    background-color: rgb(99, 99, 255);
    width: 100px;
    height: 100px;
    display: block; /* Makes the span cover whole specified block like div */
}
#d2{
    background-color: rgb(216, 255, 73);
    width: 100px;
    height: 100px;
    display: inline-block;
}
#d3{
    background-color: rgb(86, 227, 255);
    width: 100px;
    height: 100px;
    display: none; /* Effectively erases the whole block like it doesn't exist. */
}
#d4{
    background-color: rgb(150, 3, 255);
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden; /* Makes the entire element invisible */
}