#box1{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: greenyellow;

    transform: translateX(100%) scale(0.5) skew(135deg,0deg);
}