*{
    box-sizing: border-box;
}
.container{
    background-color: aquamarine;
    height: 100vh; /* viewport's height */
}
.box{
    border: 2px solid;
    padding: 25px;
    height: auto; /* Not necessary, default value is auto */
    width: 400px;
    float: left;
}
.box2{
    background-color: aqua;
    border: 2px solid;
    padding: 25px;
    width: 49%;
    float: left;
    text-align: center;

    min-height: 50%;
}
