h1{
    border : 5px solid rgb(0, 0, 255);
    border-radius : 10px;
}
p{
    border-top : 5px solid red;
    border-bottom : 5px solid orange;
    border-left : 5px dotted yellow;
    border-right : 5px dotted green;

    border-radius : 1px;
}