body{
    border: 3px solid;
    display: flow-root; /* To prevent the second image from flowing out of the box */
}
#p1{
    color: red;
}
#img1{
    float: left;
    margin-right: 10px;
}
#p2{
    color: rgb(53, 117, 255);
}
#img2{
    float: right;
    margin-left: 10px;
}