#box1{
    width: 1300px;
    height: 200px;
    background-color: rgb(72, 255, 0);
    position: sticky;
    top: 0px;
    left: 0px;
}
#box2{
    width: 1200px;
    height: 100px;
    background-color: rgb(3, 78, 0);
    position: absolute;
    top: 50px;
    left: 50px;
}