#box1{
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: relative;
    top: 100px;
    left: 100px;
}
#box2{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 2, 221);
    position: fixed;
    right: 25px;
    bottom: 25px;
}
#box3{
    width: 200px;
    height: 200px;
    background-color: rgb(30, 0, 255);
    position: absolute;
}
